<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<!-- 글쓰기 -->
	<insert id="boardWrite" parameterType="board.bean.BoardDTO">
		INSERT INTO board(board_seq,memId,board_title,board_content,board_category,board_image1,board_image2,board_image3,board_logtime,board_hit,board_like) 
		values(board_seq.nextval
			 , #{memId}
			 , #{board_title}
			 , #{board_content}
			 , #{board_category}
			 , #{board_image1,jdbcType=VARCHAR}
			 , #{board_image2,jdbcType=VARCHAR}
			 , #{board_image3,jdbcType=VARCHAR}
			 , sysdate
			 , 0
			 , 0
			 )
	</insert>
	
	<select id="getBoardList" parameterType="java.util.Map" resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from
		(select rownum rn, tt.* from
		(select * from board order by ref desc, step asc)tt
		)where rn>=#{startNum} and rn<=#{endNum} 
		]]>
	</select>
	
	<select id="getBoardSearch" parameterType="java.util.Map" resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from
		(select rownum rn, tt.* from
		(select * from board where ${searchOption} like '%'||#{keyword}||'%' 
		                     order by ref desc, step asc)tt
		)where rn>=#{startNum} and rn<=#{endNum} 
		]]>
	</select>
	
	<select id="getBoard" parameterType="int" resultType="board.bean.BoardDTO">
		select * from board where seq=#{seq}
	</select>
	
	<select id="getBoardTotalA" resultType="int">
		select count(*) from board
	</select>
	
	<select id="getBoardSearchTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from board where ${searchOption} like '%'||#{keyword}||'%'
	</select>
	
	<update id="boardModify" parameterType="java.util.Map">
		UPDATE board SET subject=#{subject}, content=#{content}, logtime=SYSDATE 
		WHERE seq=#{seq}
	</update>
	
	<update id="boardHit" parameterType="int">
		UPDATE board SET hit=hit+1 WHERE seq=#{seq}
	</update>
	
	<!-- 답글쓰기 -->
	<insert id="boardReply" parameterType="java.util.Map">
		begin 
			update board set step=step+1 where ref=#{ref} and step>#{step};
			insert into board values(seq_board.nextval
									,#{id}
									,#{name}
									,#{email}
									,#{subject}
									,#{content}
									,#{ref}
									,#{lev}+1
									,#{step}+1
									,#{pseq}
									,0
									,0
									,sysdate);
			update board set reply=reply+1 where seq=#{pseq};
		end;			
	</insert>
	
	<delete id="boardDelete" parameterType="int">
		begin
			update board set reply=reply-1 where seq=(select pseq from board where seq=#{seq});
			update board set subject =  '[원글이 삭제된 답글] '||subject where pseq=#{seq};
			delete board where seq=#{seq};
		end;
	</delete>
</mapper>

















