<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">
	
	<!-- cart_id를 가져오는 쿼리 -->
	<select id="getCartId" resultType="String">
		SELECT cart_id FROM cart WHERE user_id = #{user_id} AND book_id = #{book_id}
	</select>
	
	<!-- 회원 Id를 통해 장바구니 데이터를 가져오는 쿼리 -->
	<select id="getCart" resultType="order.bean.ViewCartDTO">
		SELECT * FROM view_cart WHERE user_id = #{mem_id}
	</select>
	
	<!-- cart_id와 user_id로 장바구니 데이터를 가져오는 쿼리 -->
	<select id="getCartByIds" resultType="order.bean.ViewCartDTO" parameterType="java.util.Map">
		SELECT * FROM view_cart WHERE user_id = #{mem_id} AND cart_id = #{cart_id}
	</select>
	
	<!-- 장바구니에 있는 book 데이터들을 가져오는 쿼리 -->
	<select id="getBooksByViewCart" resultType="book.bean.BookDTO" parameterType="java.util.List">
		SELECT * FROM book WHERE seq IN(0
			<foreach collection="list" item="cart" open="," separator="," close=")"> #{cart.book_id} </foreach>

	</select>

	<!-- 장바구니DB에 데이터를 추가하는 쿼리 -->
	<insert id="addToCart">
		INSERT INTO cart(cart_id, user_id, book_id, qty) VALUES(#{cart_id}, #{user_id}, #{book_id}, #{qty})
	</insert>
	
	<!-- 장바구니DB에 데이터를 수정하는 쿼리 -->
	<insert id="updateCart" parameterType="java.util.Map">
		UPDATE cart SET qty = #{qty} WHERE user_id = #{user_id} AND book_id = #{book_id}
	</insert>
	
	
	<!-- 장바구니DB에서 데이터를 삭제하는 쿼리들 -->
	<delete id="removeCart" parameterType="java.util.Map">
		DELETE cart WHERE user_id = #{user_id} AND book_id = #{book_id}
	</delete>
	<delete id="removeCarts" parameterType="java.util.Map">
		DELETE cart WHERE user_id = #{user_id} AND book_id IN
			<foreach collection="list" item="cart" open="(" close=")" separator=",">
				#{cart.book_id}
			</foreach>
	</delete>
	<delete id="removeCartByCartId" parameterType="java.util.Map">
		DELETE cart WHERE user_id = #{user_id} AND book_id = #{cart_id}
	</delete>
	
	<!-- book_order 테이블에 추가하는 쿼리들 -->
	<insert id="addBookOrders" parameterType="java.util.Map">
		begin
			<foreach collection="list" item="cart">
				INSERT INTO book_order (order_id, user_id, book_id, qty, title, price, old_price) 
					VALUES(#{order_id}, #{user_id}, #{cart.book_id}, #{cart.qty}, #{cart.title}, #{cart.d_price}, #{cart.price});
			</foreach>
		end;
	</insert>
	
	<!-- order_list 테이블에 추가하는 쿼리 -->
	<insert id="addOrderList" parameterType="java.util.Map">
		INSERT INTO order_list(
			order_id, user_id, price, name, pg_name, 
			method, method_name, status, receipt_id, payment_data, 
			tax_ref, note, BUYER, RECEIVER, ADDR_NEW,
			ADDR_OLD, ADDR_DETAIL, DELIVERY_MSG, POINT, ZIPCODE,
			R_TEL1, R_TEL2, TEL, delivery_fee
			
			)VALUES(
			#{order_id}, #{user_id}, #{price}, #{name}, #{pg_name}, 
			#{method}, #{method_name}, #{status}, #{receipt_id}, #{payment_data}, 
			#{tax_ref}, #{note}, #{buyer}, #{receiver}, #{addr_new},
			#{addr_old}, #{addr_detail}, #{delivery_msg}, #{point}, #{zipcode},
			#{r_tel1}, #{r_tel2}, #{tel}, #{delivery_fee}
			)
	</insert>
	
	<!-- order_list 조회용 쿼리 -->
	<select id="loadOrder" resultType="order.bean.OrderDTO" parameterType="java.util.Map">
		SELECT * FROM order_list WHERE
			<if test="user_id != null">
			 	user_id = #{user_id} 
			</if>
			<if test="user_id != null and order_id != null">
			 	AND  
			</if>
			<if test="order_id != null">
			 	order_id = #{order_id} 
			</if>
			<if test="start != null">
			<![CDATA[
				AND logtime >= #{start} AND logtime < #{end}
			]]>
			</if>
	</select>
	
	<!-- book_order 테이블 조회용 쿼리 -->
	<select id="getBookOrders" resultType="order.bean.BookOrderDTO" parameterType="String">
		SELECT * FROM book_order WHERE order_id = #{order_id}
	</select>
	
	
	<!-- 관리자 페이지용 -->
	<!-- order_list 테이블에서 데이터를 가져오는 쿼리 -->
	<select id="admin_order_list" resultType="order.bean.OrderDTO" parameterType="java.util.Map">
		SELECT * FROM order_list 
			WHERE user_id LIKE '%' || #{user_id} || '%' 
				<if test='method != null'>
					AND method = #{method} 
				</if>
				<if test='status != null'>
					AND status = #{status} 
				</if>
				<if test='tax_ref != null and tax_ref == true'>
					AND tax_ref IS NOT null  
				</if>
		ORDER BY order_id DESC
	</select>
	
</mapper>