<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookSQL">


	<!-- 1개의 book 데이터를 가져오는 쿼리 -->
	<select id="getBook" resultType="book.bean.BookDTO"
		parameterType="int">
 		SELECT seq,title,subTitle,cate1,cate2
						,author,pub,price,d_price,p_date
						,book_index,page,weight,book_size,detail
						,isbn13,isbn10,info,img1,nvl(img2,img1) img2
						,img3,img4,img5,img6,img7
						,stock,logtime FROM book WHERE seq = #{book_id}
	
 	<!-- select * from book where seq = #{book_id}-->
 </select>

	<insert id="insertBook" parameterType="book.bean.BookDTO">
		INSERT INTO book(seq,title,subTitle,cate1,cate2
						,author,pub,price,d_price,p_date
						,book_index,page,weight,book_size,detail
						,isbn13,isbn10,info,img1,img2
						,img3,img4,img5,img6,img7
						,stock,logtime)
		values(book_seq.nextval
		, #{title}
		, #{subTitle}
		, #{cate1}
		, #{cate2}
		
		, #{author}
		, #{pub}
		, #{price}
		, #{d_price}
		, #{p_date}
		
		, #{book_index}
		, #{page}
		, #{weight}
		, #{book_size}
		, #{detail}
		
		, #{isbn13}		
		, #{isbn10}
		, #{info}
		, #{img1,jdbcType=VARCHAR}
		, #{img2,jdbcType=VARCHAR}
		
		, #{img3,jdbcType=VARCHAR}
		, #{img4,jdbcType=VARCHAR}
		, #{img5,jdbcType=VARCHAR}
		, #{img6,jdbcType=VARCHAR}
		, #{img7,jdbcType=VARCHAR}
		
		, #{stock}
		, sysdate)
	</insert>

	<!-- 책 총 개수 -->
	<select id="getBookListTotalA" resultType="int">
		select count(*) from book
	</select>
	
	<!-- book 데이터 리스트를 가져오는 쿼리 -->
	<select id="getAdminBookList" resultType="book.bean.BookDTO" parameterType="java.util.Map" >
		<![CDATA[
		SELECT * FROM 
			(SELECT rownum rn, tt.* from 
				(SELECT * FROM book ORDER BY logtime DESC)
			 tt) 
		WHERE rn >= #{startNum} AND rn <= #{endNum}
		]]>
	</select>

	<select id="getScore" resultType="int" parameterType="String">
		select score from view_score where book_id = #{book_id}
	</select>

	<update id="bookModify" parameterType="book.bean.BookDTO" >
		update book set title=#{title }, subTitle=#{subTitle}, cate1=#{cate1 }, cate2=#{cate2 }, author=#{author }	
		, pub=#{pub }
		, price=#{price }
		, d_price=#{d_price }
		, p_date=#{p_date }
		, book_index=#{book_index }
		, page=#{page }
		, weight=#{weight }
		, book_size=#{book_size }
		, isbn13=#{isbn13 }
		, isbn10=#{isbn10 }
		, info=#{info }
		, img1=#{img1 }
		, img2=#{img2 }
		, img3=#{img3 }
		, img4=#{img4 }
		, img5=#{img5 }
		, img6=#{img6 }
		, img7=#{img7 }
		, stock=#{stock }
		, point=#{point }
		, logtime=#{sysdate }			
		WHERE seq=#{book_id}
	</update>
	
	
</mapper>