<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewSQL">
	
	<select id="getReviewList" parameterType="java.util.Map" resultType="review.bean.ReviewDTO">
		<![CDATA[
		select * from (select rownum rn, tt.* from
		(select * from review left join book on review.book_id = book.seq
        order by review_seq desc)tt)
		where rn >= #{startNum} and rn <=#{endNum}]]>
	</select>
	
	<select id="getBookReviewList" parameterType="String" resultType="review.bean.ReviewDTO">
		select * from review where book_id = #{book_id} order by review_regdate desc
	</select>
	
	<select id="getReviewTotalA" resultType="int">
		select count(*) from review
	</select>
	
	<insert id="reviewWrite" parameterType="java.util.Map" > 
		insert into review(book_id,review_seq, memId, review_title,review_quote,review_content,review_regdate,score) 
		values(#{book_id}, REVIEW_SEQ.nextval, #{memId}, #{title}, #{quote}, #{content}, sysdate, #{score})
	</insert>
	
	<select id="getReviewView" parameterType="int" resultType="review.bean.ReviewDTO">
	
		select review_seq,book_id,memId,review_title,review_quote,review_content,review_regdate,score,IMG1
		from review 
		left join book on review.book_id = book.seq
		where review_seq = #{review_seq}
	</select>
</mapper>